#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    max-width: 1280px;
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
    box-sizing: border-box;

    color-scheme: light dark;
    color: rgba(235, 0, 0, 0.87);
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}
.navbutton {
    font-size: 1.3rem;
    color: red;

    background-color: white;
    border: solid red;
    border-radius: 0.3rem;
    margin: auto 0.3rem;
    transition: scale 0.3s, box-shadow 0.3s, text-shadow 0.3s, color 0.3s;

    &:hover {
        scale: 1.1;
        color: rgb(194, 0, 0);
        box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.425);
        text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.384);
    }
}
.page {
    align-self: center;
    margin: 1rem 0;
    padding: 0 1rem;
    border: inset;
    border-radius: 0.5rem;

    & h2 {
        text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.274);
    }

    & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 0;
    }
}
.body{
    color: black;
}

.card {
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    width: auto;
    height: 128px;
    border: solid;
    border-radius: 0.2rem;
    text-align: start;
    & h4 {
        margin: 0.5rem 0;
    }
    & p {
        font-size: 0.8rem;
    }
    & img {
    }
}

@keyframes load {
    0% {
        scale: 1;
        text-shadow: 0rem 0rem 0.01rem rgba(0, 0, 0, 0.473);
    }
    100% {
        scale: 1.3;
        text-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.178);
    }
}

.loading {
    animation: load 0.2s ease-out 0s infinite alternate;
}
